.nube>.j{
	padding-bottom: 0 !important;
	height: 75% !important;
}
#nubDer{
	right: -100% !important;
}
.nube {
	margin-left: -54px !important;
} 
.ug_cjaPunto span {
  left: 15%;
  width: 80%;
}
.expandir,
.videoB{
	padding-top:0px;
	padding-bottom:0px;
	padding-right: 0px;
	padding-left: 0px;
}