#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:auto;
  top:auto;
  }

#jimena2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:740px;
  top:-7px;
  }

#nubeIzq3{
  line-height:20px;
  height:70px;
  width:550px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:180px;
  top:20px;
  }

#nubeDer4 {
    line-height: 20px;
    height: 72px;
    width: 260px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 450px;
    top: 140px;
}

  #nube3
  {
    height: 80px !important;
  }
