#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:auto;
  top:auto;
}

#nubeIzq2{
  line-height:20px;
  height: 100px;
  width: 300px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:181px;
  top:13px;
}

#img1{
  position: absolute;
  left:220px;
  top:80px;
  opacity:0;
}

#nube3 {
  height: 55px !important;
  width: 200px;
  left: -30px;
}