@charset "utf-8";
/*------------------------------------------------------
	Propietario:	Estrategia y Conocimiento SAS ©2015
  Producto: 		Plantilla integración SCORM 1.2
  Información:	Hoja de estilos capas.
  Derechos:			Derechos totalmente reservados para su
  							distribución, copia o modificación,
                salvo expresa autorización de:
                Estrategia y Conocimiento SAS.
--------------------------------------------------------*/

/*********************************************************
	SEGMENTO: ESTILOS CAPA FLOTANTE
**********************************************************/
.mainCapa
{
	display:none;
	position:absolute;
	height:auto;
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	z-index:200;
	border:1px solid #b2b2b2;
}
.titCapa
{
	background-color:#65c6ed;
	height:24px;
	text-align:center;
}
.titCapa span
{
	font-size:15px;
	line-height:22px;
	color:#FFF;
	font-weight:bold;
}
.titCapa a
{
	font-size:15px;
	line-height:22px;
	color:#FFF;
	font-weight:bold;
	float:right;
}
.contCapa
{
	background-color:#FFF;
	padding:5px 10px;
	color:#4c4c4c;
	font-size:9px;
	font-style:italic;
}