  #javier1{
    line-height:20px;
    height:432px;
    width:144px;
    font-size:13px;
    margin:0px;
    position:absolute;
    left:auto;
    top:auto;
}

#nubeIzq2{
    line-height: 20px;
    height: 170px;
    width: 330px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 170px;
    top: 30px;
}

#santiago5{
    line-height:20px;
    height:432px;
    width:144px;
    font-size:13px;
    margin:0px;
    position:absolute;
    left:830px;
    top:auto;
}

#nubeDer6 {
    line-height: 20px;
    height: 66px;
    width: 221px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 595px;
    top: 140px;
}

#nubed{
    line-height: 20px;
    height: 170px;
    width: 280px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 530px;
    top: 130px;
}
