#jimena1{
  line-height:20px;
  height:182px;
  width:159px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:766.99px;
  top:17.9965px;
  }

#santiago2{
  line-height:20px;
  height:182px;
  width:159px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:13px;
  top:16px;
  }

#nubeDer3 {
    line-height: 20px;
    height: 110px;
    width: 191px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 523.962px;
    top: 27.9549px;
}
#nubeIzq4 {
    line-height: 20px;
    height: 200px;
    width: 301px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 215.983px;
    top: 35.9861px;
}
#caja5{
  line-height:20px;
  height:238px;
  width:590px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:191px;
  top:218.997px;
  }
#img1 {
    height: 313px;
    position: absolute;
    left: 200px;
    top: 160px;
    opacity: 0;
}

#nube3
{
  height: 80px !important;
}


#nube4 {
    height: 75px !important;
}