#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:788px;
  top:6px;
  }

#nubeDer2 {
    line-height: 20px;
    height: 83px;
    width: 200px;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 555px;
    top: 26px;
}

#santiago3{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#nubeIzq4 {
    line-height: 20px;
    height: 155px;
    width: 415px;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 180px;
    top: 125px;
}
#nubeIzq4>.i
{
      left: 0px;
    transform: rotate(25deg) !important;
    top: 10px;
}