#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:25px;
  top:21px;
}

#santiago2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:814px;
  top:20px;
}

#nubeDer3 {
  line-height: 20px;
  height: 150px;
  width: 453px;
  font-size: 16px;
  margin: -10px 0px 0px;
  position: absolute;
  left: 325px;
  top: 160px;
}

#nubeIzq4{
  line-height: 20px;
  height: 125px;
  width: 528px;
  font-size: 16px;
  margin: -10px 0px 0px;
  position: absolute;
  left: 196px;
  top: 30px;
}


#nube3 {
  width: 345px !important;
  height: 110px !important;
  position: absolute;
  left: 122px;
  top: 0px;
}

#botondoc6 {
  line-height: 20px;
  height: 66px;
  width: 148px;
  font-size: 13px;
  margin: 0px;
  position: absolute;
  left: 500px;
  top: 320px;
}

#botondoc6>span{
  display: block;
  width: 200px;
  margin-left: -70px;
  text-align: center;
}

#estrella7 {
  line-height: 20px;
  height: 60px;
  width: 280px;
  font-size: 13px;
  margin: 0px;
  position: absolute;
  left: 356px;
  top: 440px;
}

#img1 {
  position: absolute;
  left: 250px;
  top: 160px;
}

#content_tool{
  position: relative;
  width: 142px;
  left: -5px;
  display: inline-block;
}

#tool1{
 position: absolute;
 display: block;
 top:-15px;
 width: 150px;
}