#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:0px;
  top:12px;
}

#javier2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:829px;
  top:12px;
}

#nubeDer4{
  line-height: 20px;
  height: 150px;
  width: 270px;
  font-size: 16px;
  margin: -10px 0px 0px;
  position: absolute;
  left: 530px;
  top: 55px;
}

#nubeIzq5{
  line-height: 20px;
  height: 350px;
  width: 300px;
  font-size: 16px;
  margin: -10px 0px 0px;
  position: absolute;
  left: 190px;
  top: 40px;
}

#mp3{
line-height: 20px;
  height: 350px;
  width: 300px;
  font-size: 16px;
  margin: -10px 0px 0px;
  position: absolute;
  left: 170px;
  top: 450px;
}


