#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:55px;
  top:5px;
  }

#nubeIzq2{
  line-height:20px;
  height:109px;
  width:574px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:234px;
  top:10px;
  }


#caja3{
  line-height:20px;
  height:244px;
  width:344px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:300px;
  top:120px;
  opacity: 0;
  }


.conceptos
{
  position: absolute;
}


#concepto1
{
      top: -20px;
    left: 104px;
    opacity: 0;
}

#concepto2
{
  top: 100px;
  left: 350px;
  width: 100px;
  opacity: 0;
}

#concepto3
{
     top: 284px;
    left: 310px;
    width: 130px;
    opacity: 0;
}

#concepto4
{
    top: 300px;
    left: -60px;
    opacity: 0;
  
}

#concepto5
{
      top: 114px;
    left: -85px;
  
}