#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:auto;
  top:auto;
  }

#santiago2{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:760px;
  top:-1px;
  }

#nubeIzq3 {
    line-height: 20px;
    height: 120px;
    width: 210px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 184.979px;
    top: 25.9618px;
}
#nubeDer4 {
    line-height: 20px;
    height: 80px;
    width: 235px;
    font-size: 16px;
    margin: -10px 0px 0px;
    position: absolute;
    left: 493px;
    top: 30.9549px;
}
#nube5{
  
height:206px !important;

}


#nube5{
  
height:74 !important;

}

div#nube4 {
    top: 20px;
    height: 55px!important;
}
