
#jimena2{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:780.99px;
  top:-0.0104141px;
  }

#santiago3{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:17.9897px;
  top:-1px;
  }

#nubeDer4{
  line-height:20px;
  height:133px;
  width:209px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:526.983px;
  top:39.9514px;
  }

#nubeIzq5{
  line-height:20px;
  height:174px;
  width:300px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:195.997px;
  top:29.9896px;
  }


#nube3
{
  height: 160px !important;
}