#santiago1{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:13.9618px;
  top:15.9722px;
  }

#jimena2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:618.955px;
  top:8.97569px;
  }

#nubeDer3{
  line-height:20px;
  height:140px;
  width:250px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:485.931px;
  top:39.9167px;
  }

#nubeIzq4{
  line-height:20px;
  height:131px;
  width:211px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:201.951px;
  top:30.9583px;
  }

#javier5{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:770px;
  top:9px;
  }


#nube3
{
  height: 75px !important;
}