#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:787px;
  top:0px;
}

#santiago2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
}

#nubeDer3{
  line-height:20px;
  height:84px;
  width:193px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:574px;
  top:100px;
}


#nubeIzq5{
  line-height:20px;
  height:105px;
  width:367px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:180px;
  top:0px;
}

#nube3
{
  height: 85px !important;
  width: 270px;
  position: absolute;
  left: -40px;
  top: 10px;
}

#nube4
{
 
  height: 50px !important;
  width: 185px;
  
  margin: 0;
  position: absolute;
  top: 10px;
}