#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#nubeIzq2{
  line-height:20px;
  height:83px;
  width:543px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:170px;
  top:29px;
  }

#santiago3{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:750px;
  top:-1px;
  }

#nubeDer4{
  line-height:20px;
  height:127px;
  width:446px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:280px;
  top:120px;
  }
