#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:770px;
  top:3px;
  }

#santiago2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }


#nubeDer4{
  line-height:20px;
  height:110px;
  width:272px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:480px;
  top:10px;
  }

#nubeIzq5{
  line-height:20px;
  height:195px;
  width:287px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:164px;
  top:20px;
  }
