#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
}

#nubeIzq2 {
  line-height: 20px;
  height: 220px;
  width: 375px;
  font-size: 16px;
  margin: 0;
  position: absolute;
  left: 171px;
  top: 25px;
}
#jimena3{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:787px;
  top:9px;
}
#nubeDer4 {
  line-height: 20px;
  height: 92px;
  width: 161px;
  font-size: 16px;
  margin: 0;
  position: absolute;
  left: 608px;
  top: 106px;
}
#nube3
{
  height: 95px !important;
}

#nube4 {
  height: 60px !important;
}

#nube5
{
  height: 53px !important;
  top: 45px;
  left: -65px;
  width: 195px;
}

#img1 {
    position: absolute;
    top: 190px;
    left: 165px;
    opacity: 0;
    height: 200px;
}