#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#nubeIzq2 {
    line-height: 20px;
    height: 168px;
    width: 573px;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 180px;
    top: 14px;
}

#estrella3 {
    position: absolute;
    top: 305px;
    left: 295px;
}
#botondoc2 {
    height: 90px;
    position: absolute;
    top: 230px;
    left: 410px;
    width: 90px;
}nube3{
  position:absolute;
height: 80px !important;
top:30px;
width:250px;
}