#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:750px;
  top:0px;
}
#nubeDer2{
  line-height: 20px;
  height: 85px;
  width: 210px;
  font-size: 16px;
  margin: 0;
  position: absolute;
  left: 515px;
  top: 15px;
}

#caja3{
  line-height:20px;
  height:64px;
  width:78px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:183px;
  top:221px;
}



#grafico
{
 width: 900px;
 position: absolute;
 top: 120px;
 left: 35px;
}

#imagen1, #imagen2, #imagen3
{
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  width: 180px;
  opacity: 0;
}


#imagen1
{
  width: 300px;

}


#imagen2
{
    left: 280px;
    position: absolute;
}

#imagen3 {
    left: 527px;
    position: absolute;
}