#estrella6
{
	position: absolute;
	top: 20px;
	left: 20px;

}

.ug_star
{
	margin-left: 15px !important;
}

#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:750px;
  top:0px;
  }

#nubeDer2 {
    line-height: 20px;
    height: 122px;
    width: 410px;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 307px;
    top: 95px;
}