#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#santiago2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:750px;
  top:3px;
  }

#nubeIzq3{
  line-height:20px;
  height:123px;
  width:261px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:174px;
  top:26px;
  }

#nubeDer4{
  line-height:20px;
  height:106px;
  width:265px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:460px;
  top:106px;
  }
