

/**/

/**/  #nubDer{
  right: -125%;
  transform: rotate(-200deg);
  top: 15%;
}
/**/ 

.nube2 .i{
    left: 0px;
    transform: rotate(33deg);
    top: 20px;
}



#nubDer {
    right: -85%;
    transform: rotate(-147deg);
    top: 34%;
}