#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:760px;
  top:15.9965px;
  }

#jimena2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:9.97919px;
  top:17.9965px;
  }

#nubeDer3{
  line-height:20px;
  height:149px;
  width:372px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:371.955px;
  top:32.934px;
  }

#nubeIzq4{
  line-height:20px;
  height:110px;
  width:157px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:188.972px;
  top:40.9722px;
  }


  #nube3
  {
    height: 210px !important;
  }
