#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#jimena2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:789px;
  top:-4px;
  }

#nubeIzq3{
  line-height:20px;
  height:103px;
  width:250px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:183px;
  top:21px;
  }

#nubeDer4{
  line-height:20px;
  height:110px;
  width:280px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:484px;
  top:85px;
  }
