#santiago1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0;
  position:absolute;
  left:0px;
  top:0px;
  }

#nubeIzq2{
  line-height:20px;
  height:180px;
  width:650px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:181px;
  top:26px;
  }

#caja3{
  line-height:20px;
  height:106px;
  width:420px;
  font-size:16px;
  margin:0;
  position:absolute;
  left:250px;
  top:150px;
  }
