/*Estilos de popups y cajas en general*/

.cursiva
{
  font-style: italic;
}

.derecha
{
  float: right;
}

#pop
  {
    background: rgba(255,255,255,1);
    display: none;
    font-family: 'ubuntu_regular';
    height: 300px;
    left: 50%;
    margin-left: -350px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 700px;
    z-index: 10;
  }
  #equis
  {

    width: 10px;
    height: 10px;
    position: absolute;
    top: -18px;
    right: 8px;
    cursor: pointer;
    z-index: 11;
  }

  .cajaPopup
  {
    display: none;
    position: absolute;
    /*position: fixed;*/
    background: rgba(25, 22, 22,0.7);
    height: 100%;
    width: 100%;
    z-index: 20;
  }

  #contenidoTexto
  {

    width: 100%;
  }

  #contenidoTexto, #botones
  {
    display: block;
  }

  #contenidoTexto>article
  {
    background: rgba(255,255,255,1);
    text-align: justify;
    padding: 0px 50px;
    position: absolute;
    width: 85%;
        margin-top: 60px;
  }

    #contenidoTexto>article>p
    {
      margin: 0px;
    }


    .cajaPopPunto
  {
    cursor: pointer;
    color: rgba(255,255,255,1);
  }

/*Estilos para el snnipet boton*/
.punto
{
  border-radius: 50% 50%;
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-family: 'ubuntu_regular';
  position: relative;
  background:rgba(80, 79, 83,1);
  cursor: pointer;
  height: 15px;
  text-align: center;
  width: 15px;
}

.punto>span
{
  position: relative;
  top: 3px;
  left: -6px;
}


  #botones
  {
    position: absolute;
    bottom: 10px;
    text-align: right;
    right: 50px;
    width: 100%;

  }
  #botones>div
  {
    height: 15px;
    cursor: pointer;
    width: 15px;
    display: inline-block;
    vertical-align: top;
  }

  #izquierda_caja
  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
  }

  #derecha_caja
  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
  }

    .pActual
  {
    background: rgb(70, 70, 70) !important;
  }
  .pRevisar
  {
    background: rgb(125, 190, 2);
  }

    .verde
  {
    background: rgba(145, 191, 32,1);
  }

  .naranja
  {
    background: rgba(240, 92, 34, 1);
  }


  .cyan
  {
    background: rgba(96, 169, 128,1);
  }

  .rojo
  {
    background: rgba(193, 53, 52,1);
  }

  /*Color de textos*/

   .encabezadoCaja
  {
    font-weight: normal;
    margin: 20px 40px 0px 40px;  
    line-height: 120%;
    height: 30px;
    position: relative;
    padding-bottom: 10px;
    z-index: 100;
  }

     .tituloCajaPopPuntos
  {
    font-weight: normal;
    margin: 20px 40px 0px 40px;  
    line-height: 120%;
    font-size: 20px;
    width: 620px;
    position: absolute;
    padding-bottom: 10px;
    z-index: 100;
    
    top: -68px;
    left: 0px;
  }

  .puntoTitulo
  {
    border-radius: 50% 50%;
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 12px;
    height: 12px;
  }

  .textoVerde
  {
   color: rgba(145, 191, 32,1);
  }

  .textoNaranja
  {
    color: rgba(240, 92, 34, 1);
  }

  .textoCyan
  {
     color: rgba(96, 169, 128,1);
  }

  .textoRojo
  {
     color: rgba(193, 53, 52,1);
  }

  .cajasPop
  {
    display: none;
  }

  .pActivo
  {
    display: block;
  }







.rojoPunto{
  background: rgb(186,9,0) !important;
}

.naranjaPunto
{
  background: rgb(226, 108, 4) !important;
}

.amarilloPunto
{
  background: rgb(246, 177, 1) !important;
}

.verdePunto
{
  background: rgb(40, 183, 0) !important;
}

.azulPunto
{

  background: rgb(1, 178, 239) !important;
}

.aguamarinaPunto
{
  background: rgb(1, 100, 248) !important;

}

.moradoPunto
{
  background: rgb(197, 1, 224) !important;
}

.cafePunto
{
  background: rgb(168, 65, 0) !important;
}

.verdeOscuroPunto
{
  background: rgb(83, 146, 0) !important;
}

.azulClaroPunto
{
  background: rgb(62, 239, 255) !important;
}

.verdeLimonPunto
{
  background: rgb(168, 230, 0) !important;
}

.moradoOscuroPunto
{
  background: rgb(144, 0, 250) !important;
}

.naranjaOscuroPunto
{
  background: rgb(230, 64, 0) !important;
}

.azulOscuroPunto
{
  background: rgb(0, 123, 190) !important;
}

.amarilloOscuroPunto
{
  background: rgb(253, 162, 0) !important;
}

.pActual
{
  background: rgb(70, 70, 70) !important;
}
.pRevisar
{
  background: rgb(125, 190, 2);
}

