#jimena1{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:22px;
  top:20px;
}


#santiago3{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:750px;
  top:14px;
}

#nubeIzq4{
  line-height:20px;
  height:77px;
  width:270px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:225px;
  top:44px;
}

#nubeDer5{
  line-height:20px;
  height:180px;
  width:430px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left: 300px;
  top: 135px;
}


#nube3
{

  height: 50px !important;
  width: 170px;

  position: absolute;
  left: 290px;
  top: 20px;
}