#santiago1{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:25px;
  top:24px;
  }

#jimena2{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:763.993px;
  top:27.993px;
  }



#nubeIzq5{
  line-height:20px;
  height:110px;
  width:423px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:213px;
  top:49px;
  }
  #nubei{
    height:115px !important;
    top:-35px;
  }


#nubeDer7{
  line-height:20px;
  height:74px;
  width:213px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:516.972px;
  top:160.965px;
  }


#nube3
{
      height: 140px !important;
}