#jimena1{
  line-height:20px;
  height:432px;
  width:143px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:10.9653px;
  top:33.9583px;
  }

#santiago2{
  line-height:20px;
  height:432px;
  width:144px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:770px;
  top:35px;
  }


#nubeDer4{
  line-height:20px;
  height:96px;
  width:431px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:302.979px;
  top:139.99px;
  }

#nubeIzq5{
  line-height:20px;
  height:101px;
  width:489px;
  font-size:16px;
  margin:-10px 0px 0px;
  position:absolute;
  left:190px;
  top:29px;
  }

#caja6{
  line-height:20px;
  height:206px;
  width:552px;
  font-size:13px;
  margin:0px;
  position:absolute;
  left:203px;
  top:242.986px;
  }
#img1 {
    height: 49%;
    position: absolute;
    left: 165px;
    top: 230px;
    opacity: 0;
}